nav > ul > li.active {
    font-weight: bold;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.social_media_stuff > ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.social_media_stuff > ul > li {
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: lightblue;
}

nav > ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav > ul > li {
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: lightblue;
}